# Bloquer l'accès au répertoire .git
<DirectoryMatch "^/.*/\.git/">
    Require all denied
</DirectoryMatch>

# Bloquer l'accès aux fichiers sensibles (commençant par un point)
<FilesMatch "^\.(?!well-known)">
    Require all denied
</FilesMatch>

# Bloquer l'accès aux dossiers sensibles
RedirectMatch 403 ^/(src|views|data|vendor|tests|\.git)/.*$

# Bloquer l'accès aux fichiers de configuration
<FilesMatch "^(config\.php|composer\.(json|lock)|\.env)$">
    Require all denied
</FilesMatch>
